.img-outer-container {
    display: flex;
    justify-content: center;
    .img-inner-container {
        position: relative;
        overflow: hidden;
        max-width: 500px;
        .background-img {
            max-width: 500px;
        }
        .dinosaur-img {
            position: absolute;
            transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            bottom: 10px;
        }
    }
}
