@import "variables.scss";
// Inner Container
.inner-container {
    max-width: 1000px;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

// Flex & Grid
.flex-container {
    display: flex;
}
.ai-center {
    align-items: center;
}
.jc-center {
    justify-content: center;
}
.fd-column {
    flex-direction: column;
}
.jc-btw {
    justify-content: space-between;
}
.grid-container {
    display: grid;
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.jc-sp-btw {
    justify-content: space-around;
}

#welcome-section {
    margin: 15px 0px;
    h2 {
        margin-bottom: 10px;
    }
}
