.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(40, 37, 31, 0.3);
    backdrop-filter: blur(3px);
}
.popup {
    text-transform: uppercase;
    border: 3px solid white;
    width: 90%;
    height: fit-content;
    min-width: 250px;
    max-width: 300px;
    max-height: 300px;
    color: #28251f;
    border: 2px solid #28251f;
    border-radius: 15px;
    background-color: #f5f7f1;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -300%);
    top: 300%;
    left: 50%;
    z-index: 2;
}
.hidden {
    // display: none;
    opacity: 0;
    z-index: -1;
    transition: all 1s ease;
}
.show {
    opacity: 1;
    transition: all 1s ease;
}
.how-to-container {
    width: 85%;
    max-width: 500px;
    div.lists {
        ul.nes-list {
            li {
                margin: 5px 0px;
                padding: 5px 0px;
                border-bottom: 2px solid black;
            }
            li:last-child {
                border-bottom: none;
            }
        }
    }
}
