/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@400;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
  font-size: 1em;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
add your own rules if to make this
reset ideal for all your future 
web projects
*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.15;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #023020;
  font-family: "Press Start 2P", sans-serif;
  background-color: #ffd56f;
}

main {
  flex: 1;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: 1.8em;
  font-weight: 900;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.15em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.inner-container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.jc-btw {
  justify-content: space-between;
}

.grid-container {
  display: grid;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jc-sp-btw {
  justify-content: space-around;
}

#welcome-section {
  margin: 15px 0px;
}

header {
  height: 65px;
  background-color: #023020;
  color: #ffd56f;
}
header h1 {
  width: 50%;
}
header a {
  color: inherit;
}
header a:visited,
header a:hover {
  color: inherit;
  text-decoration: none;
}
header a:focus,
header a:active {
  outline: none;
  border: 1px solid white;
}

footer {
  background-color: #023020;
  color: #ffd56f;
  padding: 10px 0px;
}

.img-outer-container .img-inner-container {
  position: relative;
  overflow: hidden;
  max-width: 450px;
  border-radius: 5px;
}
.img-outer-container .img-inner-container .img-absolute {
  position: absolute;
}
.img-outer-container .img-inner-container .icon-box {
  color: white;
  font-size: 0.8em;
  top: 10px;
  right: 20px;
  z-index: 99;
}
.img-outer-container .img-inner-container .background-img {
  max-width: 450px;
}
.img-outer-container .img-inner-container .dinosaur-img {
  bottom: 10px;
  left: 50px;
}
.img-outer-container .img-inner-container .dinosaur-img.lose {
  animation: earthquake 1s;
  animation-iteration-count: infinite;
}
.img-outer-container .img-inner-container .background-img.lose {
  animation: earthquake 1s;
  animation-iteration-count: infinite;
}
.img-outer-container .img-inner-container .win-img {
  width: 200px;
}
.img-outer-container .img-inner-container .win-img#firework1 {
  bottom: -15%;
}
.img-outer-container .img-inner-container .win-img#firework2 {
  bottom: 20%;
  left: 27%;
}
.img-outer-container .img-inner-container .win-img#firework3 {
  bottom: -10%;
  right: 0px;
}
.img-outer-container .img-inner-container .win-img.hide {
  opacity: 0;
}
.img-outer-container .img-inner-container .win-img.show {
  opacity: 1;
  transition: all 1s ease;
}
.img-outer-container .img-inner-container .asteroid-img {
  width: 50%;
  animation: earthquake 0.5s;
  animation-iteration-count: infinite;
  right: -180px;
  top: -180px;
  opacity: 1;
}
.img-outer-container .img-inner-container .explosion-img {
  display: none;
  width: 100%;
}
.img-outer-container .img-inner-container .explosion-img.show {
  display: block;
}
.img-outer-container .img-inner-container .game-over-background {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  font-size: 0.5em;
  width: 100%;
  height: 100%;
}
.img-outer-container .img-inner-container .game-over-background a {
  color: rgba(255, 255, 255, 0);
}
.img-outer-container .img-inner-container .game-over-background.show {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  transition: all 1s ease;
}
.img-outer-container .img-inner-container .game-over-background.show a {
  color: rgb(255, 255, 255);
}

@keyframes earthquake {
  0% {
    transform: translate(1px, 1px);
  }
  10% {
    transform: translate(-1px, -2px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  40% {
    transform: translate(1px, -1px);
  }
  50% {
    transform: translate(-1px, 2px);
  }
  60% {
    transform: translate(-3px, 1px);
  }
  70% {
    transform: translate(3px, 1px);
  }
  80% {
    transform: translate(-1px, -1px);
  }
  90% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(1px, -2px);
  }
}
form {
  margin: 50px;
}
form div {
  width: 90%;
  max-width: 500px;
  min-width: 200px;
}
form div input#name_field {
  padding: 5px;
}
form button.how-to-btn,
form input[type=submit] {
  margin-top: 10px;
  padding: 5px;
}

@media (min-width: 600px) {
  .form-btn-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
#keyboard ul {
  font-size: 1.5em;
  grid-template-columns: repeat(6, 40px);
  grid-auto-rows: 35px;
  gap: 10px;
}
#keyboard ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#keyboard ul li:nth-child(25) {
  grid-column-start: 3;
}
#keyboard ul li:nth-child(26) {
  grid-column-start: 4;
}
#keyboard ul li.clicked {
  background-color: black;
}

@media (min-width: 400px) {
  #keyboard ul {
    grid-template-columns: repeat(7, 40px);
  }
  #keyboard ul li:nth-child(22) {
    grid-column-start: 2;
  }
  #keyboard ul li:nth-child(23) {
    grid-column-start: 3;
  }
  #keyboard ul li:nth-child(24) {
    grid-column-start: 4;
  }
  #keyboard ul li:nth-child(25) {
    grid-column-start: 5;
  }
  #keyboard ul li:nth-child(26) {
    grid-column-start: 6;
  }
}
@media (min-width: 500px) {
  #keyboard ul {
    grid-template-columns: repeat(8, 45px);
  }
  #keyboard ul li:nth-child(22) {
    grid-column-start: 6;
  }
  #keyboard ul li:nth-child(23) {
    grid-column-start: 7;
  }
  #keyboard ul li:nth-child(24) {
    grid-column-start: 8;
  }
  #keyboard ul li:nth-child(25) {
    grid-column-start: 4;
  }
  #keyboard ul li:nth-child(26) {
    grid-column-start: 5;
  }
}
@media (min-width: 600px) {
  #keyboard ul {
    grid-template-columns: repeat(10, 45px);
  }
  #keyboard ul li:nth-child(21) {
    grid-column-start: 3;
  }
  #keyboard ul li:nth-child(22) {
    grid-column-start: 4;
  }
  #keyboard ul li:nth-child(23) {
    grid-column-start: 5;
  }
  #keyboard ul li:nth-child(24) {
    grid-column-start: 6;
  }
  #keyboard ul li:nth-child(25) {
    grid-column-start: 7;
  }
  #keyboard ul li:nth-child(26) {
    grid-column-start: 8;
  }
}
@media (min-width: 700px) {
  #keyboard ul {
    grid-template-columns: repeat(10, 50px);
  }
}
@media (min-width: 800px) {
  #keyboard ul {
    grid-template-columns: repeat(13, 50px);
  }
  #keyboard ul li:nth-child(21) {
    grid-column-start: 8;
  }
  #keyboard ul li:nth-child(22) {
    grid-column-start: 9;
  }
  #keyboard ul li:nth-child(23) {
    grid-column-start: 10;
  }
  #keyboard ul li:nth-child(24) {
    grid-column-start: 11;
  }
  #keyboard ul li:nth-child(25) {
    grid-column-start: 12;
  }
  #keyboard ul li:nth-child(26) {
    grid-column-start: 13;
  }
}
@media (min-width: 900px) {
  #keyboard ul {
    grid-template-columns: repeat(13, 55px);
    grid-template-columns: repeat(13, 55px);
  }
}
#answer-section #hint-btn {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8em;
}
#answer-section .icon-list {
  margin-bottom: 15px;
}
#answer-section .icon-list i {
  transform: scale(2);
}
#answer-section .msg-container {
  margin: 10px 0px;
}
#answer-section .msg-container #hint-btn {
  margin-top: 15px;
}
#answer-section .answer-container {
  margin: 10px 0px;
}
#answer-section .answer-container span {
  height: 50px;
  width: 35px;
  display: inline-block;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5em;
  border-bottom: 5px solid black;
}
#answer-section p {
  margin: 10px 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(40, 37, 31, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.popup {
  text-transform: uppercase;
  border: 3px solid white;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 250px;
  max-width: 300px;
  max-height: 300px;
  color: #28251f;
  border: 2px solid #28251f;
  border-radius: 15px;
  background-color: #f5f7f1;
  padding: 15px;
  position: absolute;
  transform: translate(-50%, -300%);
  top: 300%;
  left: 50%;
  z-index: 2;
}

.hidden {
  opacity: 0;
  z-index: -1;
  transition: all 1s ease;
}

.show {
  opacity: 1;
  transition: all 1s ease;
}

.how-to-container {
  width: 85%;
  max-width: 500px;
}
.how-to-container div.lists ul.nes-list li {
  margin: 5px 0px;
  padding: 5px 0px;
  border-bottom: 2px solid black;
}
.how-to-container div.lists ul.nes-list li:last-child {
  border-bottom: none;
}

.text-center {
  text-align: center;
}

#too-small-width {
  width: 100%;
  display: none;
  padding: 20px;
  margin-top: 100px;
}

@media (max-width: 300px) {
  header p {
    display: none;
  }
  #too-small-width {
    display: block;
  }
  section:not(#too-small-width) {
    display: none;
  }
}