@use "reset.scss";
@use "layout.scss";
@use "header.scss";
@use "animation.scss";
@use "form.scss";
// Small error
#too-small-width {
    width: 100%;
    display: none;
    padding: 20px;
    margin-top: 100px;
}
@media (max-width: 300px) {
    header {
        p {
            display: none;
        }
    }
    #too-small-width {
        display: block;
    }
    section:not(#too-small-width) {
        display: none;
    }
}
