/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@400;900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
add your own rules if to make this
reset ideal for all your future 
web projects
*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.15;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* color: #28251f;
  background-color: #beb48b; */
  font-family: "Press Start 2P", sans-serif;
}

main {
  flex: 1;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: 1.8em;
  font-weight: 900;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.15em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.inner-container {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f7f1;
}

.flex-container {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.fd-column {
  flex-direction: column;
}

.grid-container {
  display: grid;
  justify-content: center;
}

header {
  height: 100px;
  background-color: red;
}

.img-outer-container .img-inner-container {
  position: relative;
  overflow: hidden;
  max-width: 500px;
}
.img-outer-container .img-inner-container .background-img {
  max-width: 500px;
}
.img-outer-container .img-inner-container .dinosaur-img {
  position: absolute;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  bottom: 10px;
}

form {
  margin: 50px;
}
form div input {
  all: unset;
  border-radius: 5px;
  padding: 0px 10px;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid black;
}
form input[type=submit] {
  margin: 20px;
  cursor: pointer;
}

#keyboard ul {
  font-size: 2em;
  grid-template-columns: repeat(6, 40px);
  grid-auto-rows: 35px;
  gap: 10px;
}
#keyboard ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#keyboard ul li.clicked {
  background-color: black;
}

#answer-section .answer-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
#answer-section .answer-container span {
  width: 50px;
  padding: 5px;
  display: inline-block;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2.5em;
  font-weight: bold;
  border-bottom: 5px solid black;
}

#too-small-width {
  width: 100%;
  display: none;
  padding: 20px;
  margin-top: 100px;
}

@media (max-width: 300px) {
  header p {
    display: none;
  }
  #too-small-width {
    display: block;
  }
  section:not(#too-small-width) {
    display: none;
  }
}